body {
	margin: 0;
	overflow: hidden;
	font-family: helvetica neue, helvetica, arial, sans-serif;
	color: white;
}
code {
	background: #80808040;
	border-radius: 6px;
	padding: 4px;
}
canvas {
	image-rendering: pixelated;
	width: 100vw;
	height: 100vh;
}
input, button {
	color: white;
	padding: 5px;
	border: none;
	border-radius: 6px;
	pointer-events: all;
}
input {
	border: 1px solid white;
	background: #80808080;
	outline: none;
}
input::placeholder {
	color: #EEE;
}
button {
	min-width: 25px;
	background: #44E16D;
	cursor: pointer;
	transition: 0.3s;
}
button:hover {
	filter: brightness(1.1);
	transform: scale(1.2);
}
button:active {
	transform: scale(0.9);
}
#bottom * {
	display: inline;
}
#bottom {
	width: calc(100% - 3px);
	margin: 3px;
	min-height: 20px;
	pointer-events: none;
	display: inline;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
}
#easter {
	float: right;
}
#easter * {
	pointer-events: all;
}